*.dirstamp
config.h.in
*.exe
confdefs.h
config.log
config.h.in
config.status
configure
Makefile.in
ac_config.h
Makefile
stamp-h1
*.Po
*.o
*.d
*~
*.txt
*.dia
test/*
*.pdf
decompile32
decompile64
udis86-1.7.2
autom4te.cache
stupid.c
*.png
.cproject
.directory
.metadata/*
.project
build/*
target/*